@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: #0d0d0d;
}

a {
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

input {
  border: none;
  outline: none;
}

.container {
  width: 100%;
  max-width: 94rem;
  margin: 0 auto;
  padding: 0 1.4rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#logo-container {
  width: 3.5rem;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-icons .icon {
  font-size: 3.5rem;
  color: #aaa;
  cursor: pointer;
}

#nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 100vh;
  background-color: #d7d4ed;
  position: fixed;
  top: 0;
  right: -25.5rem;
  z-index: 3;
  transition: all 0.65s ease-in-out;
}

#nav-list.active {
  right: 0;
}

#nav-list li {
  font-weight: 500;
  display: flex;
  cursor: pointer;
  margin: 1.5rem 0;
  transition: 0.15s ease-in-out;
}

#nav-list li:hover, #nav-list li:hover .icon > * {
  z-index: 1;
  color: blue;
  transform: scale(1.05) translateY(-15%);
}

#nav-list li:hover > a {
  color: blue;
}

#nav-list li .icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

.menu-icons.close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.menu-icons.close .icon {
  color: tomato;
  opacity: 0.7;
}

.search-container {
  margin: 2rem 0 4rem 0;
}

.search-bar {
  position: relative;
}

.search-bar {
  position: relative;
  margin: 0 auto;
  padding: 2rem 1rem;
  border-radius: 1rem;
  background-color: white;
  margin: 0 auto;
  filter: drop-shadow(0 0.2rem 0.8rem rgba(0, 0, 0, 0.1));
}

.search-bar input {
  width: 100%;
  font-size: 1.8rem;
  border: none;
}

.search-bar input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-bar button {
  background-color: white;
  border: none;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  border-radius: 1rem;
  outline: 0;
  padding: 0.5rem;
}

.search-bar button .icon {
  color: #aaa;
  cursor: pointer;
  font-size: 3rem;
  padding-top: 0.2rem;
}

.nav-link {
  display: inline-block;
}

@media screen and (min-width: 700px) {
  header nav {
    height: 8rem;
  }

  .logo-container {
    width: 3.5rem;
  }

  #nav-list {
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    flex-direction: row;
    transition: initial;
  }

  #nav-list li {
    margin: 0 1.5rem;
  }

  .menu-icons {
    display: none;
    visibility: hidden;
  }
}