@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: #0d0d0d;
}

a {
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

input {
  border: none;
  outline: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.4rem;
  max-width: 144rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav {
  box-sizing: content-box;
  /* height: 3.5rem; */
  --nav-height: 3.5rem;
}

#logo-container {
  max-width: 3.5rem;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-icons {
  display: flex;
  align-items: center;
}

.menu-icons .icon {
  font-size: var(--nav-height);
  color: #aaa;
  cursor: pointer;
}

#main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 100vh;
  background-color: #d7d4ed;
  position: fixed;
  top: 0;
  right: -25.5rem;
  z-index: 3;
  transition: all 0.65s ease-in-out;
}

#main-container.active #nav-list {
  right: 0;
}

#main-container.active #nav-list li {
  display: flex;
  place-content: center;
  padding: 0.5em;
  margin: 0;
  width: 100%;
}

#nav-list span {
  display: inline-block;
  width: max-content;
  height: 100%;
}

#nav-list li a {
  display: flex;
  align-items: center;
  font-weight: 500;
  display: flex;
  cursor: pointer;
  margin: 1.5rem 0;
}

#nav-list li,
#nav-list li .icon {
  transition: visibility 0s, all 0.15s ease-in-out;
}

#nav-list li:hover,
#nav-list li:hover .icon > * {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

#nav-list li:hover .icon {
  opacity: 1;
  transform: scale(1);
}
#nav-list li {
  font-size: calc(0.45 * var(--nav-height));
}

#nav-list li .icon {
  opacity: 0;
  transform: scale(0);
  font-size: 1.25em;
  margin-right: 0.5em;
}

.nav-link {
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

.menu-icons.close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.menu-icons.close .icon > * {
  color: tomato;
  opacity: 0.7;
}

.search-container {
  border: 1px solid #000;
  width: 70%;
  margin-left: 3rem;
  border-radius: 8px;
  border: none;
  outline: none;
  overflow: hidden;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
}

.search-bar {
  display: grid;
  grid-template-columns: 1fr 4rem;
  grid-template-rows: auto;
}

.search-bar input {
  display: inline-block;
  background-color: transparent;
  padding: 8px 0 8px 16px;
  height: 5rem;
  width: 100%;
  z-index: 2;
}
.search-bar input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.search-bar .icon {
  cursor: pointer;
  font-size: 2.2rem;
}

.search-bar button .icon > * {
  color: #aaa;
}

.nav-link {
  display: inline-block;
}

@media screen and (min-width: 700px) {
  nav {
    height: 8rem;
  }

  #logo-container {
    max-width: 3.5rem;
  }

  #nav-list {
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    flex-direction: row;
    transition: initial;
  }

  .search-container {
    width: 50%;
    margin-left: calc(2vw + 1.5rem);
    margin-right: 1.5rem;
  }

  #nav-list li {
    border-radius: 0.25em;
    padding: 0 0.5em;
  }

  .menu-icons {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
  .nav-link {
    font-size: 0.9em;
  }

  #nav-list li {
    padding: 0 0.4em;
    margin: 0 0.4em;
    font-size: calc(0.35 * var(--nav-height));
  }

  #nav-list li .icon {
    display: none;
  }
}
