body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 10%;
}

.profile{
    text-align: center;
    padding-top: 2%;
}

#button_profile{
    position: relative;
    top: 30%;
}

.user-pp-wrapper {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    border: 0.2rem solid black;
}

#button_corte{
    padding: 1%;
}

