* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    border-spacing: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

main {
    padding: 0 10%;
}

header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #cfcfcf;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.user-profile {
    min-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.4em;
}

.user-pp-wrapper {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    border: 0.2rem solid black;
}

.user-pp-wrapper img {
    object-fit: cover;
    border-radius: inherit;
    width: inherit;
    height: inherit;
}

.user-name {
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

.user-description {
    margin-bottom: 0.2em;
}

.edit {
    background-color: transparent;
    color: blue;
    font-weight: 700;
}

.edit.profile {
    margin-bottom: 1.8em;
}

.user-stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-stats dl {
    width: 8em;
}

.user-stats dl dt {
    font-weight: 700;
}

button.edit:hover {
    text-decoration: underline;
}

.cut-container {
    display: inline-block;
    border-radius: 15%;
    padding: 0.5rem;
    width: 12em;
    height: 12em;
}

.cut-container img {
    object-fit: cover;
    border-radius: inherit;
    width: inherit;
    height: inherit;
}

.profile-tabs {
    display: flex;
    width: 100%;
}

/* Create a circle next to selected a to indicate selection */
.profile-tabs a {
    position: relative;
    text-decoration: none;
    color: #d1d1d1;
    font-weight: 700;
    margin: 2em 1em;
}

.profile-tabs a.selected {
    color: black;
}

.profile-tabs a.selected::before {
    content: '';
    position: absolute;
    top: 150%;
    left: 50%;
    width: 0.5em;
    height: 0.5em;

    transform: translate(-50%, -50%);
    background-color: blue;
    border-radius: 50%;
}
