@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;400;500 & display=swap');

legend{
    margin-top: 0 0;
    color: #000;
    font-weight: bolder;
    font-size: 3.5rem;
}
    
.main-container{
    margin: 3% auto;
    max-width: 50%;
}

#form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    padding: 1rem;
    margin: auto;
    align-items: center;
}

.form-content {
    width: 80%;
    margin: 0.3rem;
}

input.form-content{
    height: 2.5rem;
    border-radius: 4px;
    border-color: transparent;
    background-color: #ccc;
    margin-bottom: 2%;
}

input.form-content:hover{
    cursor: text;
}

select.form-content{
    height: 2.5rem;
    border-radius: 4px;
    border-color: transparent;
    background-color: #ccc;
    margin-bottom: 2%;
}

select.form-content:hover{
    cursor: text;
}

#submit {
    margin-top: 3%;
    height: 2rem 0 0 0;
    width: 20vh;
    height: 5vh;
    border-radius: 0.3rem;
    border: transparent;
    background-color: #ccc;
    color: #0d0d0d;
}

#submit:hover{
    box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.button-container{
    width: 80%;
    margin: 0.3rem;
    display: flex;
    justify-content: space-between;
}